@import '../../../styles/_config.scss';

.DesktopNavigation {
  display: none;
  width: 100%;
  padding: 2rem 1rem;
  gap: 1rem;

  @media (min-width: $lg) {
    display: flex;
    flex-direction: column;
  }
}
