@import '../../../../../styles/_config.scss';

.SublistItem {
  display: block;
  width: 100%;
  border-bottom: 1px solid $customLightGray;
}

.SublistItemLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0.6rem 0.7rem;
  text-decoration: none;
  color: $customTextColorDarkGray;

  & svg {
    fill: $customGreen;
  }
}
