@import '../../../styles/_config.scss';

.MobileProductListTitle {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $customGreen;
  color: #fff;
  padding: 0.6rem 0.7rem;

  & svg {
    fill: #fff;
  }
}