@import '../../../styles/_config.scss';

.Footer {
  display: block;
  width: 100%;
  height: auto;
  margin: 3rem 0;
  background-color: $customTextColorDarkGray;
  border-radius: 5px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);

  @media(min-width: $lg) {
    background-color: $customLightGray;
  }
}