@import '../../../../styles/_config.scss';

.DesktopNavigationTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.DesktopNavigationLogo {
  display: none;
  width: 14rem;
  height: auto;

  &:hover {
    cursor: pointer;
  }

  @media(min-width: $lg) {
    display: block;
  }

  @media (min-width: $xl) {
    width: 16.75rem;
  }
}