@import '../../../../styles/_config.scss';

.DesktopNavigationUserLinks {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.DesktopNavigationUserLinksItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;

  & svg {
    width: 30px;
    height: 30px;
  }
}
