@import '../../../../../styles/_config.scss';

.DesktopNavigationBottomSublist {
  display: none;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-template-rows: repeat(6, 1fr);
  grid-auto-flow: column;
  width: $lg - 32px;
  position: absolute;
  gap: 0 0.3rem;
  z-index: 1;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: start;
  padding: 1rem;

  &Active {
    display: grid;
  }

  &Fixed {
    position: fixed;
    left: 50%;
    margin-left: -($lg - 32px) / 2;
  }

  @media(min-width: $xl) {
    width: $xl - 32px;

    &Fixed {
      margin-left: -($xl - 32px) / 2;
    }
  }
}
