@import '../../../../styles/_config.scss';

.DesktopNavigationBottomList {
  width: 100%;
  text-align: center;
  background-color: $customLightGray;
  padding: 1.3rem 0;

  &Fixed{
    position: fixed;
    max-width: $lg - 32px;
    top: 0;
    left: 50%;
    margin-left: -($lg - 32px) / 2;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  @media(min-width: $xl) {
    padding: 2rem 0;

    &Fixed {
      max-width: $xl - 32px;
      margin-left: -($xl - 32px) / 2;
    }
  }
}