$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$customGreen: #7ed321;
$customOrange: #ff9067;
$customLightGray: #efefef;
$customTextColorDarkGray: #2d2d2d;
$customTextColorLightGray: #a1a1a1;
$customIconColorMobile: #707070;

